#titulo{
    color:darkturquoise;
    text-align:right;
}

#nombre{
    color:inherit;
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
    margin: auto;
}

#exp{
    color:oklab(lightness a b);
    text-align: center;
}

#edu{
    color: rgb(3, 70, 64);
    text-align:initial;
}

#boton{
    text-align: center;
    color:black;
}

button{
    background-color: aqua;
}