body {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.container {
    display: flex;
    border: 2px solid #ddd; /* Color del borde */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
}

.personal-info {
    width: 45%;
    max-width: 500px;
    background-color: #ffc0cb; 
    padding: 20px;
}

.professional-info {
    width: 55%;
    padding: 20px;
}

.personal-info img {
    width: 100%;
    height: auto;
}

article {
    margin-bottom: 20px;
}

button{
    margin: 0 10px;
    padding: 20px 60px;
    background-color: #5f92c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #5f92c8;
}