.container {
  display: flex;
  height: 100vh; /* El 100% de la altura de la ventana */
}

.sidebar {
  flex: 0 0 30%; /* 30% del ancho total, sin crecer ni encoger */
  background-color: #f2f2f2;
  padding: 20px;
}

.sidebar img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%; /* Hacemos las imágenes circulares */
  border: 2px solid #fff; /* Añadimos un borde blanco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos una sombra suave */
  margin: auto;
}


.main-content {
  flex: 1; /* El resto del espacio disponible */
  padding: 20px;
  overflow-y: auto; /* Agrega scroll vertical si es necesario */
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* Puedes agregar estilos adicionales según tus preferencias */
